.titleHome {
	position: fixed;
	bottom: 10%;
	left: 8%;
}

.titleHome p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 2.1em;
}

.p1 {
	font-weight: 700;
}

.p2 {
	font-weight: 300;
}

.squareimg-home {
    float:left;
    position: relative;
    width: 20%;
    padding-bottom : 20%; /* = width for a 1:1 aspect ratio */
    margin: .5%;
    overflow:hidden;
    background-size:contain;
}

.ganjel {
	width: 7.5%; /*27.25%*/
	height: 5px;
	float: left;
}

.con-home {
	margin-top: 2em;
}
